<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> - IS 445</h1>
    <p>Welcome to <%= title %>, this application will allow you to insert,
    update, and delete records. Go ahead! Test it out!</p>

    <p>Click below to proceed to the database!
  <br>
    <form>
      <a class="button" href="users">Access Database</a>
    </form>
    </p>
  </br>

    
  </body>
</html>
